<nav role="titlebar">
    <div class="titlebar bg-teal-800 dp-2 color-light-text-primary">
        <div class="container">
            <img [attr.src]="input.logo" height="40px"/>
            <span>{{input.title}}</span>
        </div>
    </div>
</nav>
 <nav class="sidebar short dp-12 bg-teal-500 color-light-text-primary" role="navigation">
    <a [ngClass]="item.type" class="color-light-text-primary" *ngFor="let item of navbar_items" [attr.data-tooltip]="item.title" [attr.aria-label]="item.title" [attr.tabindex]="(item.type.item) ? '0' : '-1'" [routerLink]="item.routeTo"><i [ngClass]="item.icons"></i></a>
</nav> 
<div class="content content-sidebar content-navbar">
    <router-outlet></router-outlet>
    <p style="text-align: center" *ngIf="input.copyright_owner"> &copy; Copyright {{input.copyright_owner}} 2017</p>
</div>